.azeret-mono{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  
  font-style: normal;
}
 
nav ul li{
  list-style: none;
  /* margin-right: 50px; */
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.nav-title{
  font-size: 28px;
  font-weight: bolder;
  margin-top: 50px;
  margin-left: 150px;
}
.btn-primary{
  padding: 17px 24px;
  font-size: 20px;
  font-weight: 500px;
  margin-right: 150px;
  margin-top: 38px;
  border-radius: 8px;
  border-color: rgba(13, 19, 33, 1);
}
/* Sub banner design */
.banner{
  background-image: url('../assets/Hero-bg.png');
  width: 1900px;
height:700px;
margin: auto;

}
.sub-banner{
 /* Frame 4 */

width: 1300px;
height: 756px;

/* Auto layout */
display: flex;
flex-direction: column;

align-items: center;
padding: 0px;
margin: auto;

}
.sub-banner-img{
  margin-top: 32px;
}
.sub-banner-title{
  

  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 48px;
  font-weight: 800;
 
  text-align: center;
  margin-top: 32px;

}
.sub-banner-subtitle{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;

text-align: center;
margin-top: 24px;
margin-left: 73px;
margin-right: 73px;
}
.sub-banner-btn{
  border-radius: 8px;

background: rgb(13, 19, 33);
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 18px;
font-weight: 600;
height: 66px;
width: 208px;
text-align: center;
margin-top: 32px;
margin-bottom: 45px;
}

