.azeret-mono{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  
  font-style: normal;
}
 
nav ul li{
  list-style: none;
  /* margin-right: 50px; */
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.nav-title{
  font-size: 28px;
  font-weight: bolder;
  margin-top: 50px;
  margin-left: 150px;
}
.btn-primary{
  padding: 17px 24px;
  font-size: 20px;
  font-weight: 500px;
  margin-right: 150px;
  margin-top: 38px;
  border-radius: 8px;
  border-color: rgba(13, 19, 33, 1);
}
/* Sub banner design */
.banner{
  background-image: url('../assets/Hero-bg.png');
  width: 1900px;
height:700px;
margin: auto;

}
.sub-banner{
 /* Frame 4 */

width: 1300px;
height: 756px;

/* Auto layout */
display: flex;
flex-direction: column;

align-items: center;
padding: 0px;
margin: auto;

}
.sub-banner-img{
  margin-top: 32px;
}
.sub-banner-title{
  

  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 48px;
  font-weight: 800;
 
  text-align: center;
  margin-top: 32px;

}
.sub-banner-subtitle{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;

text-align: center;
margin-top: 24px;
margin-left: 73px;
margin-right: 73px;
}
.sub-banner-btn{
  border-radius: 8px;

background: rgb(13, 19, 33);
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 18px;
font-weight: 600;
height: 66px;
width: 208px;
text-align: center;
margin-top: 32px;
margin-bottom: 45px;
}

/* development Design */
.development{
  text-align: center;
  margin: auto; 
  background-color: rgba(255, 255, 255, 1);
}
.development-title{
  font-size: 32px;
  font-weight: 700px;
}
.development-subtitle{
  font-size: 16px;
  font-weight:200;
  color: rgba(13, 19, 33, 1);
  margin-top: 24px;
  margin-bottom: 16px;
  text-align: center;
  width: 882px;
}
.sub-development{
position: static;
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
margin: 0px 10px;
}

.uper-development{
position: static;
width: 946px;
height: 200px;
display: flex;
align-items: center;
padding: 48px;
margin: 32px 97px;
border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.under-development{
position: static;
width: 850px;
height: 240px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;

}
.under-development-header{
  text-align: left;
  margin-top: 0px;
}
.under-development-title{
  font-size: 24px;
  font-weight: bold;
  color: rgba(13, 19, 33, 0.7);
  margin-top: 10px;
}
.under-development-subtitle{
  font-size: 16px;
  font-weight: 200px;
  color: rgba(13, 19, 33, 0.7);
}
.under-development-btn{
  padding: 12px 20px 12px 20px;
  border: 1px solid rgb(13, 19, 33);
opacity: 0.7;

color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
text-align: center;
margin-top: 32px;
margin-bottom: 10px;
}
.under-development-image{
  margin-right: 35px;
}